*{
    margin: 0px;
    padding: 0px;
}
.bg{
    background: radial-gradient(#00A1A9,#016673);
    /* background: radial-gradient(circle, rgba(0,161,169,1) 29%, rgba(0,161,169,1) 51%, rgba(1,102,115,1) 74%); */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progresswrapper{
    width: 50%;
    height: 10px;
    /* border: 1px solid rebeccapurple; */
    /* border-radius: 10px; */
    border-radius: 55px;
    background: #004856;
    box-shadow: inset -13px 13px 20px #002931,
                inset 13px -13px 20px #00677b;
}
.progressindicator{
    background: linear-gradient(151deg, rgba(103,197,238,1) 0%, rgba(101,234,194,1) 100%);
    border-radius: 10px;
    width: 80%;
    height: inherit;
    /* background-color: #002931; */
}

/* dasdfasfdasfasgasdgsag */

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}

.tooltip .bottom {
    min-width:50px; 
    top: 10px;
    left:50%;
    /* transform:translate(50%, 0); */
    margin-left: 540px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#005164;
    font-weight: 900;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    /* display:none; */
}
/* 
.tooltip:hover .bottom {
    display:block;
} */

.tooltip .bottom i {
    position:absolute;
    bottom:95%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#005164;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}